{% extends 'base.html' %}
{% load form_extras %}  {# para o filtro get_item #}

{% block content %}
{% include 'parciais/_messages.html' %}

<div class="d-flex p-2 justify-content-center mb-2">
  <h1>PESQUISA DE PRIORIZAÇÃO DE CURSOS - {{ ano_ref }}</h1>
</div>

<form method="POST" action="{% url 'votar_cursos' %}">
  {% csrf_token %}
  <input type="hidden" name="ano_ref" value={{ ano_ref }}>
  {% for trilha in trilhas %}
    <div class="mb-4">
      <h4>Assinale os cursos do seu interesse na trilha de {{ trilha.nome }}</h4>
      <ul class="list-unstyled mt-4">
        {% for curso in cursos_por_trilha|get_item:trilha %}
          <li>
            <input type="checkbox" class="checkbox-lg" name="cursos" value="{{ curso.id }}"
                   {% if curso in user_cursos %}checked{% endif %}>
            {{ curso.nome }} {% if curso.forma_atendimento %} {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
    <div class="mb-3 col-12 col-md-6">
      <br/>
      <label for="{{ form_resposta.comentario.id_for_label }}" class="form-label">
        <strong>{{ form_resposta.comentario.label }}</strong>
      </label>
      {{ form_resposta.comentario|add_class:"form-control" }}
      <br/><br/>
      <strong>Tem interesse em fazer parte do time de instrutores do IGPE? Se sim, clique neste <a href="https://docs.google.com/forms/d/e/1FAIpQLScCw-eSojmSONlf5P8RrxsMQqiTZ00hfsbuPcg_KrLBXvQfbw/viewform?usp=header" target="_blank" >link</a>.
      </strong>
    </div>
    <br/>
  <button class="btn btn-success" type="submit">Enviar</button>
</form>
{% endblock %}
